.header-layout {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  &__right {
    display: flex;
    width: 25%;
    justify-content: space-between;
    align-items: center;
  }
}
